<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'Username: ' + ${user.getUsername()}">Username</p>
<p th:text="'Password: ' + ${user.getPassword()}">Password</p>
<p th:text="'FirstName: ' + ${user.getFirstname()}">FirstName</p>
<p th:text="'LastName: ' + ${user.getLastname()()}">LastName</p>
<p th:text="'Email: ' + ${user.getEmail()}">Email</p>
<p th:text="'Age: ' + ${user.getAge()}">Age</p>
<p th:text="'Roles: ' + ${user.getRoleSet()}">Roles</p>

<form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit user!"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/admin/users/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete user"/>
</form>
</body>
</html>